# SPDX-FileCopyrightText: 2021 Markus Linnala <markus.linnala@cybercom.com>
#
# SPDX-License-Identifier: Apache-2.0

policy_module(test1, 1.0.0)
require {
	type ssh_t;
}
kerberos_read_keytab(ssh_t)
